
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495203259333'); /* IE9*/
  src: url('iconfont.eot?t=1495203259333#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495203259333') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495203259333') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495203259333#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before { content: "\e602"; }

.icon-xiangyou:before { content: "\e631"; }

.icon-gouwuche:before { content: "\e603"; }

.icon-add1:before { content: "\e601"; }

.icon-iconfontshanchu:before { content: "\e614"; }

.icon-icon:before { content: "\e694"; }

.icon-dingwei:before { content: "\e61c"; }

.icon-bianji1:before { content: "\e83f"; }

.icon-iconfont:before { content: "\e654"; }

.icon-person:before { content: "\e643"; }

.icon-shipin:before { content: "\e67e"; }

.icon-gift1:before { content: "\e68e"; }

.icon-1:before { content: "\e61d"; }

.icon-fuzhuang:before { content: "\e85c"; }

.icon-xiebao:before { content: "\e607"; }

.icon-wuuiconxuan:before { content: "\e621"; }

.icon-shou:before { content: "\e618"; }

.icon-mima:before { content: "\e74e"; }

.icon-jiaju:before { content: "\e65d"; }

.icon-muying2:before { content: "\e61a"; }

.icon-cloud-record:before { content: "\e652"; }

